# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# idea
Advent_of_code_2018.iml
Advent_of_code_2018.ipr
Advent_of_code_2018.iws
Advent*.iml
idea/
